@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css'); 
*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    }

body{
    font-family: 'NanumSquare', NanumGothic;
}
.header img {
    height: 60px;
}
header{
	positioin:absolute;
}

.header {
    background:#f0542d;
    height: 80px;
    position: absolute;
    z-index: 20000;
    left: 0;
    top: 0;
    width: 1920px;
    min-width: 1034px;
}
.logo {
        float: left;
        margin: 12px 0 0 425px;
    }    
.navi ul li {
        list-style-type: none;
        float:left;
       margin: 30px 10px;
/*     margin-right: 15px;*/
        display:inline-block;   
     }
            
    .navi ul li a{
     color:white;
     font-size: 18px;
    }
    .login {
       margin:35px 250px 0 0;
       float: right;
    }
    
    .navi2-login>li {
        display: inline-block;
        color:white;
        margin:0 10px 0 0;
        }

    .navi2-login>li>a {
        font-size: 18px;
        color:white;
        text-decoration: none;
        }